<fa-app class="full-screen">

  <fa-header-footer-layout fa-options="{direction: 1, headerSize: 75, footerSize: 0}">
     <!-- header -->
    <fa-surface fa-background-color="'#1d1d1d'"></fa-surface>
  </fa-header-footer-layout>
  
  <!-- Loading View -->
  <fa-view>
    <!-- Container modifier, which we're rotating over the y axis -->
    <fa-modifier fa-origin="[.5, .5]" fa-rotate-y="rotateY.get()">

      <!-- Front face -->
      <fa-surface 
        fa-size="[true, true]"
        fa-color="'rgb(255,255,250)'">
        <img class="logo" src="images/eqtr-logo.png" style="width: 900px; height: auto;"/>
      </fa-surface>

      <!-- Back face:  same image, rotated pi radians -->
      <fa-modifier fa-rotate-y="3.14159">
        <fa-surface fa-size="[true, true]" fa-color="'rgb(255,255,250)'">
          <img class="logo" src="images/eqtr-logo.png" style="width: 800px; height: auto;" />
        </fa-surface>
      </fa-modifier>
    </fa-modifier>
  </fa-view>

  <!-- Welcome Screen -->
  <fa-modifier fa-origin="[.5, 0]"fa-align="[.5, .5]">
    
    <fa-modifier fa-translate="[0, -100, 0]">
     <fa-surface>
        <h1 style="text-align:center;">Ahh The Nineties</h1>
      </fa-surface>
    </fa-modifier>

    <fa-modifier fa-translate="[0, 150, 0]">
      <fa-surface>
        <p style="text-align:center;">Think you know who's who in EQTR? Guess who they were back in 1999!</p>
      </fa-surface>

    
    <!-- Play Button -->
    <fa-modifier fa-translate="[0, 30, 0]">
      <fa-surface>
        <h2 style="text-align:center;">Play</h2>
      </fa-surface>
    </fa-modifier>

  </fa-modifier>
</fa-app>